@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400&display=swap');


body{
    width: 100%;
    margin: 0;
    font-family: Roboto, sans-serif;
    text-decoration: none;
}
body::-webkit-scrollbar{
    display:none;
}
a{
    text-decoration: none;
}
a:visited {
    text-decoration: none;
    color: black;
  }